<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RECI.PY</title>
</head>
<body>
    <h1>Recipe Finder</h1>
    <p>Ingredient list:</p>
    <div>
        <h1>{{ ingredient }} </h1>
        {% comment %} {% for task in tasks %}
        {{ task }} {% endcomment %}
        {% comment %} <div class="task-wrapper" data-position="{{task.pk}}">
            <div class="task-title">
                {% if task.complete %}
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> {% else %}
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'task-update' task.id %}">{{task}}</a> {% endif %}
            </div>
            <div class="task-controls">
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                <span class="handle">&nbsp;&#10247;</span>
            </div>
        </div>

        {% empty %}
        <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
            <h3>No new tasks are created.</h3>
            <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
        </div>
        {% endfor %} {% endcomment %}
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ADD</button>
    </form>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">EDIT</button>
    </form>
</body>
</html>