@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700;800&family=Questrial&display=swap');
@import url("base.css");

body {
    font-family: 'Questrial', sans-serif;
    background-color: var(--light-green);
    color: var(--medium-green);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-green);
}

.row {
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding: 0 5vh;
}

.cell {
    min-height:75px;
    flex-grow:1;
    flex-basis: 100%;
}


h1 {
    font-family: 'Baloo 2';
    font-size: 8vh;
    color: var(--light-green);
    display: flex;
}

.home-button {
    float: right;
}

.home-button i {
    color: var(--light-green);
    margin-right: 25px;
    font-size: 7vh;
    padding: 3vh;    
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--medium-green);
    border-radius: 20px;
}

#food-groups label input {
    color: white;
    font-style: italic;
    font-size: 30px;
}
  
input[type=checkbox]:checked{
    color: #f00;
    font-style: normal;
}

#input label {
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

input, select, option {
    border-radius: 25px;
    border: 3px inset var(--dark-green);
    font-family: 'Baloo 2';
    text-align: center;
    background-color: rgb(244, 255, 244);
    color: var(--dark-green);
    padding: 2px;
    font-size: medium;
}

#input-column {
    float: left;
    padding: 0 5vh;
    display: flex;
    flex-direction: column;
}

#input {
    padding: 10px;
}

button {
    margin: 10px;
    background-color: var(--medium-green);
    font-family: 'Baloo 2';
    border: solid transparent;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .8px;
    overflow: visible;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    vertical-align: middle;
    white-space: nowrap;
}

button:not(#add) {
    padding: 10px;
}

#add {
    background-color: var(--dark-green);
    font-size: 20px;
}

button:hover {
  filter: brightness(1.1);
}

.fa:hover{
    filter: brightness(1.5);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
  }

table {
    font-size: 3vh;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}

.hide {
    display: none;
}

th {
    color: var(--dark-green);
    background-color: var(--medium-green);
    text-align: center;
    padding: 8px;
}

td {
    text-align: center;
    padding: 8px;
    
}

td p {
    color: red;
}

tr:nth-child(even) {
    background-color: white
}

i {
    float: right;
    color: var(--dark-green);
    padding: 10px;
}

@media (max-width: 950px){
    .row {
      flex-wrap:wrap;
    }
    .fridge {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        width: 50%;
    }
    .button {
        width: 100%;
    }
}