@import url("base.css");

h1 {
    margin: auto;
    font-size: 100px;
}

.cell {
    padding: 30px;
}

button i {
    padding-bottom: 10px;
}

button:not(.close-modal) {
    width: 150px;
    height: 150px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    line-height: 1;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/* MODAL */

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    top: 50%;
    border-color: black;
    width: 50%;
    height: 50%;
    margin: auto;
}

.popup-content {
    border-radius: 40%;
}

.popup-content i {
    padding-right: 10px;
}

.close-modal {
    font-size: 2.5vh;
    background-color: var(--primary);
    color: black;
    margin-right: 10px;
}

.show {
    visibility: visible;
    opacity: 1;
}

/**************************/

@media (max-width: 650px){
    h1 {
        font-size: 75px;
    }
    .cell {
        padding: 10px;
    }
    button:not(.close-modal) {
        width: 100px;
        height: 100px;
        font-size: 10px;
        border-radius: 25px;
        text-align: center;
        line-height: 1;
    }
}