@import url("base.css");

h1 {
    margin: auto;
    font-size: 100px;
}

.cell {
    padding: 30px;
}

button i {
    padding-bottom: 10px;
}

button {
    width: 150px;
    height: 150px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    line-height: 1;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}