@import url("base.css");

h1 {margin-left: 2.5vw;}
td { text-align: left; }

/* side bar */
.left {
    position: fixed;
    margin-left: 30px;
    margin-top: 40px;
    background-color: var(--secondary);
    padding: 3px 30px 23px 30px;
    border-radius: 20px;
}

.ingredients-table { 
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 1.3vw;
    margin-top: -10px;
    font-family: 'Questrial', sans-serif;
}

.fa-trash { 
    font-size: 1.1vw; 
    color: gray;
}

.ingredients-table .cell { padding: 1vh 0 0.45vh 0.75vw; }

.ingredients-table .row { box-shadow: 0 3px 2px -2px var(--accent); }

input {
    border: 2px inset var(--medium-green);
    border-radius: 15px;
    margin-right: 0.5vw;
    width: 7.3vw;
    font-family: 'Questrial';
    font-size: 1.3vw;
    padding: 1vh 0.7vw;
}

.ingredients-table input, .ingredients-table button {
    margin-top: 17px;
}

.right {
    margin-left: 22vw;
    position: relative;
}

.container, table {
    font-family: 'Questrial';
    font-size: 3vh;
}

.container {
    border-spacing: 5px 20px;
    margin-top: -53px;
    width: 100%;
}

.container td {
    width: 25%;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 24vh;
}

#slide {
    position: absolute;
    width: 100%;
    height:100%;
    background-position: center center;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container .cell {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--secondary);
    transition: 1s;
    filter:brightness(100%);
    height: 36vh;
}

.cell:hover + .open-modal, .open-modal:hover {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    font-size: 1.2vw;
    transform: translate(-50%, -50%);
}

.container .cell:hover {
    filter: brightness(50%);
    background-color: rgba(0,0,0,.4);
}

.cell h3 {
    color: black;
    font-size: 1.3vw;
    font-weight: 500;
}

.item .text-content {
    padding: 0 20px;
}
.item {
    position: relative;
}

.recipe-table {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

.recipe-link {
    transition: all linear 300ms;
}

.recipe-link:hover {
    color: var(--medium-green);
}

/* MODAL */
.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    background-color: var(--primary);
    border-radius: 20px;
    display: block;
    position: absolute;
    z-index: 1;
    width: 80%;
    top: 0;
    left: 0;
    margin-left: 10%;
    border: black 1px solid;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.open-modal {
    display:none;
}

.popup-info {
    display: none;
}
.popup-img {
    width: 100%;
}
.popup-text {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}
.popup-box {
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.popup-title {
    font-family: "Baloo 2", sans-serif;
    font-weight: 500;
    font-size: 2vw;
}
.popup-box ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin-left: -20px;
}
.popup-header {
    text-align: end;
}
.close-modal {
    font-size: 1.5vw;
    background-color: var(--primary);
    color: black;
}
.popup-text td:first-child {
    width: 50%;
}
.popup-link {
    color: white;
}
.popup-link:hover {
    color: var(--accent);
}
.popup-text .box {
    margin-top: -35px;
    display: inline-block;
}
.popup-text .box p {
    background-color: var(--medium-green);
    color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    float:left;
    margin-right: 10px;
}
.right .spacer {
    width: 30px;
    color: var(--primary);
}

.ingredients-table.spacer { height: 10px; }

/* Filter */
.filter {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.collapsible {
    cursor: pointer;
    background-color: var(--secondary);
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    color: var(--accent);
    font-size: 1.5vw;
    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
}
  
.filter.active, .collapsible:hover {
    color: var(--medium-green);
    background-color: var(--secondary);
}

.filter-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    color: black;
    transition: max-height 0.2s ease-out;
}