@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700;800&family=Questrial&display=swap');
@import url("base.css");

.recipe-home {
    margin-bottom: 10vh;
    background-color: var(--light-green);
    color: black;
}

.recipe-home .header {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.home-button i {
    margin-right: 25px;
    padding: 1vh;
    font-size: 7vh;
    color: var(--dark-green);
}

.home-button:hover{
    filter: brightness(1.5);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
}
.content, .header h1 {
    padding: 0 5vh;
}

h3, button {
    font-family: 'Questrial';
    
}
h3 {
    color: var(--dark-green);
    font-size: 4vh;
}

button {
    margin: 10px;
    background-color: var(--medium-green);
    font-family: 'Baloo 2';
    border: solid transparent;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .8px;
    overflow: visible;
    padding: 10px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    vertical-align: middle;
    white-space: nowrap; 
}

button:hover{
    filter: brightness(1.1);
}

.fa:hover{
    filter: brightness(1.5);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
  }

input {
    padding: 1.2vh 0.5vh;
    border: 3px inset var(--medium-green);
    border-radius: 17px;
    margin-right: 1.5vh;
}

.done-button {
    margin-top: 1%;
}

.recipe-home table {
    font-family: 'Questrial';
    border: 1px solid #dddddd;
    border-collapse: collapse;
    font-size: 3vh;
}

.ingredients-table {
    display: flex;
    flex-wrap: wrap;
}
.ingredients-table .delete {
    padding: 1vh 2vh;
}
.ingredient {
    padding-right: 30%;
    padding-right: 2vh;
    min-width: 220px;
}
.recipe-table {
    width: 100%;
}

td, th {
    text-align: left;
    padding: 1.7vh 2vh;
    
}
th {
    background-color: var(--medium-green);
    color: var(--dark-green)
}
tr {
    background-color: rgb(235, 235, 235);
}

a {
    color: black;
    text-decoration: none;
}

.recipe-link {
    transition: all linear 0.5s;
}

.recipe-link:hover {
    color: var(--medium-green);
}

