{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'fridge_style.css' %}?{% now "U" %}">
    <script src="{% static 'filter.js' %}?{% now "U" %}"></script>
    <script src="{% static 'sort.js' %}?{% now "U" %}"></script>
    <script src="https://kit.fontawesome.com/b8349432cb.js" crossorigin="anonymous"></script>
    <title>RECI.PY</title>
</head>

<body>
    <div class="nav">
        <table class="nav-items">
            <td>RECI.PY</td>
            <td><a class="active"  href="#">FRIDGE</a></td>
            <td><a href="{% url 'recipe-finder' %}">RECIPE FINDER</a></td>
            <td class="home-button"><a href="{% url 'main' %}" ><i class="fa fa-home" aria-hidden="true"></i></a></td>
        </table>
    </div>
    <div class="header">    
        <div id="input-column">
        <h1 id="fridge">FRIDGE</h1>
                <form method="POST">
                    <div id="input">
                        <label for="name">name:</label>
                        <input id="name" name="name" required>
                    </div>

                    <div id="input">
                        <label for="expiry">expiry date:</label>
                        <input type="date" id="expiry" name="expiry" required>
                    </div>

                    <div id="input">
                        <label for="food_group">food group:</label>
                        <select name="food_group" id="food_group" required>
                            <option value="fruits">fruits</option>
                            <option value="vegetables">vegetables</option>
                            <option value="grains">grains</option>
                            <option value="protein">protein</option>
                            <option value="dairy">dairy</option>
                            <option value="cooking product">cooking products</option>
                            <option value="herbs/spices">herbs + spices</option>
                            <option value="other">other</option>
                        </select>
                    </div>
                    <div id="add_button">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" id="add" name="add_button">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    
    <div class="row" id="food-groups">
        <div class="cell" id="checkboxes">
            <label for="fruits"><input type="checkbox" name="food-group" value="fruits" id="fruits" onclick="check();"><span>fruits</span></label>
            <label><input type="checkbox" name="food-group" value="vegetables" id="vegetables" onclick="check();"><span>vegetables</span></label>
            <label><input type="checkbox" name="food-group" value="grains" id="grains" onclick="check();"><span>grains</span></label>
            <label><input type="checkbox" name="food-group" value="protein" id="protein" onclick="check();"><span>protein</span></label>
            <label><input type="checkbox" name="food-group" value="dairy" id="dairy" onclick="check();"><span>dairy</span></label>
            <label><input type="checkbox" name="food-group" value="cooking product" id="cooking product" onclick="check();"><span>cooking products</span></label>
            <label for="herbs/spices"><input type="checkbox" name="food-group" value="herbs/spices" id="herbs/spices" onclick="check();"><span>herbs/spices</span></label>
            <label><input type="checkbox" name="food-group" value="other" id="other" onclick="check();"><span>other</span></label>
        </div>
        <div class="cell" id="search">
            <input type="text" id="search_input" onkeyup="myFunction()" placeholder="Search for names..">
        </div>
    </div>
    
    <div class="row">
        <table id="fridge-table">
        <thead>
            <tr>
                <th>
                    Name
                    <span onclick="sortByName()"><i class="fas fa-sort"></i></span>
                </th>
                <th>
                    Expiry Date
                    <span onclick="sortByDate()"><i class="fas fa-sort"></i></span>
                </th>
                <th>Food Group</th> 
            </tr>
        </thead>
        
        <tbody>

        {% for item in food_items %}
            <tr class="food_item {{ item.name }} {{ item.food_group }}">        
                <td class="name">{{ item.name }}</td>
                <td class="expiry date">
                    {% if item.is_expired %}
                        <p>EXPIRED</p>
                    {% elif item.is_expiring_soon %}
                        <p>{{ item.expiry_date }}</p>
                    {% else %}
                        {{ item.expiry_date }}
                    {% endif %}
                </td>
                <td class="food-group">
                    {{ item.food_group }}
                    <a href="{% url 'fridge-update' item.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
        </table>
    </div>

</body>
</html>