{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'fridge_style.css' %}?{% now "U" %}">
    <script src="{% static 'filter.js' %}"></script>
    <script src="https://kit.fontawesome.com/b8349432cb.js" crossorigin="anonymous"></script>
    <title>RECI.PY</title>
</head>

<body>
    <div class="header">    
        <div id="input-column">
        <h1 id="fridge">FRIDGE</h1>
        
                <form method="POST">
                    <div id="input">
                        <label for="name">name:</label>
                        <input id="name" name="name" required>
                    </div>

                    <div id="input">
                        <label for="expiry">expiry date:</label>
                        <input type="date" id="expiry" name="expiry" required>
                    </div>

                    <div id="input">
                        <label for="food_group">food group:</label>
                        <select name="food_group" id="food_group" required>
                            <option value="fruits">fruits (e.g. apples, bananas)</option>
                            <option value="vegetables">vegetables (e.g. broccoli, carrots)</option>
                            <option value="grains">grains (e.g. bread, rice, pasta)</option>
                            <option value="protein">protein (e.g. seafood, meat, eggs, nuts)</option>
                            <option value="dairy">dairy (e.g. milk, cheese, non-dairy alternatives)</option>
                            <option value="cooking product">cooking products (e.g. flour, cooking oil)</option>
                            <option value="herbs/spices">herbs + spices (e.g. sugar, salt, paprika)</option>
                            <option value="other">other</option>
                        </select>
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" id="add" name="add_button">+</button>
                    </div>
                </form>
            </div>
        <div class="home-button"><a href="{% url 'main' %}" ><i class="fa fa-home fa-3x" aria-hidden="true"></i></a></div>
    </div>
    
    <div class="row" id="food-groups">
        <label><input type="checkbox" name="food-group" value="fruits" id="fruits" onclick="check()">fruits</label>
        <label><input type="checkbox" name="food-group" value="vegetables" id="vegetables" onclick="check()">vegetables</label>
        <label><input type="checkbox" name="food-group" value="grains" id="grains" onclick="check()">grains</label>
        <label><input type="checkbox" name="food-group" value="protein" id="protein" onclick="check()">protein</label>
        <label><input type="checkbox" name="food-group" value="dairy" id="dairy" onclick="check()">dairy</label>
        <label><input type="checkbox" name="food-group" value="cooking product" id="cooking product" onclick="check()">cooking products</label>
        <label><input type="checkbox" name="food-group" value="herbs/spices" id="herbs/spices" onclick="check()">herbs/spices</label>
        <label><input type="checkbox" name="food-group" value="other" id="other" onclick="check()">other</label>
    </div>
    
    <div class="row">
        <table id="fridge-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Expiry Date</th>
                    <th>Food Group</th> 
                </tr>
            </thead>
            <tbody>
            {% for item in food_items %}
            <div class="food_item {{ item.name }} {{ item.food_group }}">   
                <tr>            
                    <td class="name">{{ item.name }}</td>
                    <td class="expiry date">
                        {% if item.is_expired %}
                            <p>EXPIRED</p>
                        {% elif item.is_expiring_soon %}
                            <p>{{ item.expiry_date }}</p>
                        {% else %}
                            {{ item.expiry_date }}
                        {% endif %}
                    </td>
                    <td class="food group">{{ item.food_group }}
                        <a href="{% url 'fridge-update' item.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </div>
            {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
</body>
</html>