{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'home_style.css' %}?%{% now "U" %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'home_style_v2.css' %}?%{% now "U" %}">
    <script src="https://kit.fontawesome.com/a73e2d7b3a.js" crossorigin="anonymous"></script>
    <title>RECI.PY</title>
</head>
<body>
    <div class="nav">
        <table class="nav-items">
            <td class="home-button"><i class="fa fa-home active" aria-hidden="true"></i></td>
            <td><a href="{% url 'pantry' %}">PANTRY</a></td>
            <td><a href="{% url 'recipe-finder' %}">RECIPE FINDER</a></td>
        </table>
    </div>
    <div class="center">
        <div class= "row">
            <h1 class="floating">reci.py</h1>
        </div>
        <div class="row icons">
            <div class="cell">
                <form action="{% url 'pantry' %}">
                    <button type="submit"><i class="fa-solid fa-3x fa-box"></i><br>pantry</button>
                </form>
            </div>
            
            <div class="cell">
                <form method="POST" class="generator" id="generator">
                    {% csrf_token %}
                    <button id="open" name="generate" data-open="popup"><i class="fa-solid fa-3x fa-shuffle"></i><br>gime recipe!!</button>
                </form>
            </div>
            
            <div class="cell">
                <form action="{% url 'recipe-finder' %}">
                    <button type="submit"><i class="fa-solid fa-3x fa-magnifying-glass"></i><br>recipe finder</button>
                </form>
            </div>
        </div>
    </div>
    <div id="popup" class="modal center">
        <div class="loader" id=loader></div>
        <div class="popup-content" id="popup-content">
            <div class="popup-header">
                <button class="close-modal" aria-label="close modal" id="close">✕</button>
            </div>
           <div class="popup-box">
                <div><img class="popup-img" src=""/></div>
                <div class="popup-text">
                    <p class="popup-title">{{ recipe.name }}</p>
                   <div class="box">
                        <div><p><i class="fa-solid fa-note-sticky"></i><a class="popup-link" target="blank" href="{{ recipe.link }}">more details</a></p></div>
                        <div><p class="popup-prep"><i class="fa-solid fa-clock"></i>{{ recipe.prep_time }}</p></div>
                    </div>
                    <h2>ingredients</h2>
                    <ul class="popup-ing" id="ul-ing">
                        {% for i in ingredients %}
                        <li>{{ i.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var popup = document.getElementById('popup');
        var openbtn = document.getElementById("open");
        var closebtn = document.getElementById("close");
        var ingredients = '{{ recipe.ingredients }}';
        var recipe = '{{ recipe.name }}';

        openbtn.onclick = function(e) {
            popup.classList.add('show');
                      
            if (recipe) {
                loading.classList.remove('show');
                popup.classList.add('show');
                var ing_list = ingredients.split(", ")
                ing_list.splice(-1)
                var ul = document.getElementById("ul-ing");
                ul.innerHTML = "";
                for (i of ing_list) {
                    var li = document.createElement("li");
                    li.appendChild(document.createTextNode(i));
                    ul.appendChild(li);
                    e.preventDefault()
                } 
                
            }
            
            e.preventDefault()
        };

        closebtn.onclick = function() {
            popup.classList.remove('show');
            location.reload();
        };
    </script>
</body>
</html>