<div class="row">
    <div class="box">
        <a class="button open-modal" id="open">CLICK ME</a>
    </div>
    <div id="popup" class="modal">
        <div class="popup-content" id="popup-content">
            <div class="popup-header">
                <button class="close-modal" aria-label="close modal" id="close">✕</button>
            </div>
            <div class="popup-box">
                <div><img class="popup-img" src="../static/images/default.png"/></div>
                <div class="popup-text">
                    <p class="popup-title">CHICKEN</p>
                    <div class="box">
                        <div><p><a class="popup-link" target="blank">more details</a></p></div>
                        <div><p class="popup-prep">20 min</p></div>
                        <div><p>spicy</p></div>
                    </div>
                    <h2>ingredients</h2>
                    <ul class="popup-ing" id="ul-ing">
                        <li>chicken</li>
                        <li>salt</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</div>

<script>
    var popup = document.getElementById('popup');
    var openbtn = document.getElementById("open");
    var closebtn = document.getElementById("close");
    openbtn.onclick = function() {
        popup.classList.add('show');
    }
    closebtn.onclick = function() {
        popup.classList.remove('show');
    }

    window.onclick = function(event) {
        if (event.target == popup) {
            popup.classList.remove('show');
        }
    }
</script>
