{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'recipe_style.css' %}?{% now "U" %}">
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"> {% endcomment %}
    <script src="https://kit.fontawesome.com/a73e2d7b3a.js" crossorigin="anonymous"></script>
    <title>RECI.PY</title>
</head>
<div id="overlayd">
<body class="recipe-home" id="overlay">
    <div class="nav">
        <table class="nav-items">
            <td class="home-button"><a href="{% url 'main' %}" ><i class="fa fa-home" aria-hidden="true"></i></a></td>
            <td><a href="{% url 'pantry' %}">PANTRY</a></td>
            <td><a class="active" href=".">RECIPE FINDER</a></td>
        </table>
    </div>
    <div>
        <div class="row"><h1 id="top">Recipe Finder</h1></div>
        <div class="sort">
                <p>time
                    <button type="submit" name="desc_button" id="desc"><i class="fas fa-angle-down"></i></button>
                    <button type="submit" name="asc_button" id="asc"><i class="fas fa-angle-up"></i></button>
                </p>
            <script src="../static/recipe_sort.js"></script>
        </div>
    </div>
    
    <div class="content">        
        <div class="left" id="left">
            <h3>Ingredients</h3>
            <table class="ingredients-table">
                {% for i in ingredients %}
                    <tr class="line">
                        <td class="box">{{i.name}}</td>
                        <td class="box">
                            <a href="{% url 'ingredient-update' i.id %}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="spacer"><td></td></tr>
                    {% empty %}
                    <tr>no items</tr>
                {% endfor %}
                <tr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <td><input placeholder="" name="input"></td>
                        <td><button type="submit" name="add_button">+</button></td>
                    </form>
                </tr>
            </table>
            <form method="POST" class="done-button">
                {% csrf_token %}
                <button type="submit" name="done_button">SEARCH</button>
            </form>
        </div>
        <div class="right">
        <div class="modal" id="modal1">
            <div class="popup-content">
                <div class="popup-header">
                    <button class="close-modal" aria-label="close modal" data-close>✕</button>
                </div>
                <div class="popup-box">
                    <div><img class="popup-img" /></div>
                    <div class="popup-text">
                        <p class="popup-title"></p>
                        <div class="box">
                            <div><p><i class="fa-solid fa-note-sticky"></i><a class="popup-link" target="blank">more details</a></p></div>
                            <div><p class="popup-prep"><i class="fa-solid fa-clock"></i></p></div>
                        </div>
                        
                        <ul class="popup-ing" id="ul-ing">
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
        <table class="container">
            {% for i in recipe_list %}
                {% ifequal forloop.counter0|divisibleby:"4" True %}
                <tr></tr>
                {% endifequal %}
                <td class="item">
                    <div class="cell">
                        <div class="wrapper"><img src="{{i.img_link}}" id="slide"/></div>
                        <div class="text-content">       
                            <h3 id="name">{{i.recipe_name}}</h3>
                        </div> 
                    </div>
                    <button class="open-modal" data-open="modal1"><a >QUICK VIEW</a></button>
                    <div class="popup-info">   <!-- this div will be hidden by default and I use it to store all the info I'll need to display on the popup for each project -->
                        <p>{{i.recipe_name}}</p>
                        <p>{{i.ingredients}}</p>
                        <p>{{i.prep_time}}</p>
                        <p>{{i.img_link}}</p>
                        <p>{{i.link}}</p>
                    </div>               
                </td>
                <td class="spacer">.....</td>
                {% empty %}
                <p>no recipes</p>
            {% endfor %}        
        </table>
        <script src="../static/modal.js"></script>
        <script src="../static/collapsible.js"></script>
        </div>
    </div>
</body>
</div>
</html>
