<div class="row">
    <div class="box">
        <a class="button open-modal" id="generator">CLICK ME</a>
    </div>
    <div id="popup" class="modal">
        <div class="popup-content">
            <div class="popup-header">
                <button class="close-modal" aria-label="close modal" id="close">✕</button>
            </div>
            <div class="popup-box">
                <div><img class="popup-img" src="../static/images/default.png"/></div>
                <div class="popup-text">
                    <p class="popup-title">CHICKEN </p>
                    <div class="box">
                        <div><p><a class="popup-link" target="blank">more details</a></p></div>
                        <div><p class="popup-prep">20 min</p></div>
                        <div><p>spicy</p></div>
                    </div>
                    <ul class="popup-ing" id="ul-ing">
                        <li>chicken</li>
                        <li>salt</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</div>

<script>
    var open = document.getElementById("generator");
    var modal = document.getElementById("popup");
    var close = document.getElementById("close");
    open.onclick = function() {
        modal.style.display = "block";
    }
    close.onclick = function() {
        modal.style.display = "none";
    }
</script>
