{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'pantry_style.css' %}?{% now "U" %}">
    <script src="{% static 'filter.js' %}?{% now "U" %}"></script>
    <script src="{% static 'sort.js' %}?{% now "U" %}"></script>
    <script src="{% static 'search.js' %}?{% now "U" %}"></script>
    <script src="https://kit.fontawesome.com/b8349432cb.js" crossorigin="anonymous"></script>
    <title>RECI.PY</title>
</head>

<body>
    <div class="nav">
        <table class="nav-items">
            <td class="home-button"><a href="{% url 'main' %}" ><i class="fa fa-home" aria-hidden="true"></i></a></td>
            <td><a class="active"  href=".">PANTRY</a></td>
            <td><a href="{% url 'recipe-finder' %}">RECIPE FINDER</a></td>
        </table>
    </div>
    <div class="row"><h1>Pantry</h1></div>
    <div class="notif row">
        <p>there are <span id="count1">0</span> item(s) that are expired and <span id="count2">0</span> item(s) that are expiring soon!</p>
    </div>
    <div class="row"><p>    </p></div>
    <div class="left">
        <form method="POST">
            <div id="input">
                <label for="name">food name:</label>
                <input id="name" name="name" size = "10" required>
            </div>

            <div id="input">
                <label for="expiry">expiry date:</label>
                <input type="date" id="expiry" name="expiry" required>
            </div>

            <div id="input">
                <label for="food_group">food group:</label>
                <select name="food_group" id="food_group" required>
                    <option value="fruits">fruits</option>
                    <option value="vegetables">vegetables</option>
                    <option value="grains">grains</option>
                    <option value="protein">protein</option>
                    <option value="dairy">dairy</option>
                    <option value="cooking product">cooking products</option>
                    <option value="herbs/spices">herbs + spices</option>
                    <option value="other">other</option>
                </select>
            </div>
            <div id="add_button">
                {% csrf_token %}
                {{ form }}
                <button type="submit" id="add" name="add_button">ADD</button>
            </div>
        </form>
    </div>
    <div class="right">
    <div class="row" id="food-groups">
        <div class="cell" id="checkboxes">
            <label><input type="checkbox" name="food-group" value="fruits" id="fruits" onclick="check();"><span>fruits</span></label>
            <label><input type="checkbox" name="food-group" value="vegetables" id="vegetables" onclick="check();"><span>vegetables</span></label>
            <label><input type="checkbox" name="food-group" value="grains" id="grains" onclick="check();"><span>grains</span></label>
            <label><input type="checkbox" name="food-group" value="protein" id="protein" onclick="check();"><span>protein</span></label>
            <label><input type="checkbox" name="food-group" value="dairy" id="dairy" onclick="check();"><span>dairy</span></label>
            <label><input type="checkbox" name="food-group" value="cooking product" id="cooking product" onclick="check();"><span>cooking products</span></label>
            <label for="herbs/spices"><input type="checkbox" name="food-group" value="herbs/spices" id="herbs/spices" onclick="check();"><span>herbs/spices</span></label>
            <label><input type="checkbox" name="food-group" value="other" id="other" onclick="check();"><span>other</span></label>
        </div>
        <!--
        <div class="cell" id="search">
            <input type="text" id="search_input" onkeyup="searchTable()" placeholder="Search for food..">
        </div>
        -->
    </div>
    <div class="row">
        <table id="pantry-table">
        <thead>
            <tr>
                <th>
                    Name
                    <span onclick="sortByName()"><i class="fas fa-sort"></i></span>
                </th>
                <th>
                    Expiry Date
                    <span onclick="sortByDate()"><i class="fas fa-sort"></i></span>
                </th>
                <th>Food Group</th> 
                <th></th>
            </tr>
        </thead>
        
        <tbody>

        {% for item in food_items %}
        
            {% if item.is_expired %}
                <tr class="food_item {{ item.name }} {{ item.food_group }} expired">     
                    <td class="name">{{ item.name }}</td>
                    <td class="expiry">EXPIRED</td>
                    <td class="food-group">{{ item.food_group }}</td>
                    <td><a href="{% url 'pantry-update' item.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                
            {% elif item.is_expiring_soon %}
                <tr class="food_item {{ item.name }} {{ item.food_group }} warning">
                    <td class="name">{{ item.name }}</td>
                    <td class="expiry">{{ item.expiry_date }}</td>
                    <td class="food-group">{{ item.food_group }}</td>
                    <td><a href="{% url 'pantry-update' item.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>

            {% else %}
            <tr class="food_item {{ item.name }} {{ item.food_group }}">
                    <td class="name">{{ item.name }}</td>
                    <td class="expiry date">{{ item.expiry_date }}</td>
                    <td class="food-group">{{ item.food_group }}</td>
                    <td><a href="{% url 'pantry-update' item.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            {% endif %}

        {% endfor %}
        </tbody>
        </table>
        <script src="{% static 'expiration.js' %}?{% now "U" %}"></script>
    </div>

</body>
</html>